<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Developer Skills API</title>
</head>
<body>
    <h1>Welcome to the Developer Skills API</h1>
    <p>This is the root page of the Developer Skills API. User interface coming soon!</p>

    <h2>Usage</h2>
    <p>Currently, there is no UI implementation beyond the portfolio website - there are plans to add Swagger UI in future.</p>

    <p>To access the APIs, please visit my <a href="https://jaredmcdowall.me">portfolio website</a></p>

    <p>Documentation is available on the <a href="https://github.com/rocky7211/dev-skills-api">GitHub repository</a></p>
</body>
</html>